/*Mise en forme générale applicable à chaque page*/

/*ATTENTION : couleurs hardcodées dans mode.js, si vous modifiez ici, modifiez
aussi là bas*/
:root {
    --coul-arr-plan: #261C57;
    --coul-texte: #43aed4;
    --coul-titre: #CA64F9;
    --couleur-gras: #f39639;
    --couleur-em: #fd5bcf;
    --couleur-a: #F205B3;
    --couleur-b: #ffffff40;
    --couleur-c: #ffffff10;
    --couleur-d: #ffffff80;
    --coul-arr-plan-transparent: #261c5799;
    --coul-texte-transparent: #43aed499;
}

.theme-inverse {
    --coul-arr-plan: #43aed4;
    --coul-texte: #261C57;
    --coul-titre: #8801c7;
    /*modif par rapport au theme normal*/
    --couleur-gras: #5C2D03;
    --couleur-em: #c00089;
    /*modif par rapport au theme normal*/
    --couleur-a: #d5019c;
    --couleur-b: #ffffff40;
    --couleur-c: #ffffff10;
    --couleur-d: #ffffff80;
    --coul-arr-plan-transparent: #43aed499;
    --coul-texte-transparent: #261C5799;
}

body {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    position: relative;
    background-color: var(--coul-arr-plan);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--coul-texte);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: max(10vh, 3rem) 0 0 0;
}

h1,
h2,
h3,
h4 {
    color: var(--coul-titre);
}

th,
b {
    color: var(--couleur-gras);
}

em {
    color: var(--couleur-em);
}

a,
a:link,
a:visited,
a:active {
    color: var(--couleur-a)
}

ul {
    list-style-type: disclosure-closed;
    text-align: left;
}


/*Contenu principal*/

.tres-grand {
    font-size: xx-large;
}


.grand {
    font-size: x-large;
}

/*contenu aligné flex*/
.flex {
    display: flex;
    align-items: center;
}


.space-evenly {
    justify-content: space-evenly;
}

.texte-align-centre {
    text-align: center;
}

.texte-gauche {
    text-align: left;
}



.marge-droite {
    margin-right: 2em;
}

/*contenu centré*/
.contenu-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.img-1em {
    height: 1em;
}

.img-4em {
    height: 4em !important;
}

.sans-mise-en-forme {
    background-color: transparent;
    border: none;
}

[hidden] {
    display: none !important;
}

[readonly].desactivable {
    background-color: var(--couleur-b);
    color: var(--coul-arr-plan-transparent);
    border: var(--coul-texte) solid .1em;
    border-radius: .2em;
    box-shadow: none;
}

[readonly].desactivable:hover {
    cursor: default;
}

[readonly].desactivable:focus {
    outline: none;
    cursor: default;
}


.contour-img:hover {
    -webkit-filter: drop-shadow(1px 1px 1px var(--coul-titre)) drop-shadow(-1px -1px 0 var(--coul-titre));
    filter: drop-shadow(1px 1px 1px var(--coul-titre)) drop-shadow(-1px -1px 0 var(--coul-titre));
}

/*Petits boutons/inputs pour actions secondaires*/
.input-formulaire {
    display: flex;
    background-color: var(--coul-texte);
    width: fit-content;
    height: fit-content;
    color: var(--coul-arr-plan);
    border: var(--coul-texte) solid .1em;
    border-radius: .5em;
    padding: .2em 1em;
    align-items: center;
}

button.input-formulaire,
input[type="button"].input-formulaire {
    cursor: pointer;
}

.input-formulaire * {
    color: var(--coul-arr-plan);
    background-color: var(--coul-texte);
    border: none;
    outline: none;
}

.input-formulaire:hover {
    border: var(--coul-titre) solid .1em;
    background-color: var(--coul-texte);
}

.input-formulaire[disabled] {
    background-color: var(--coul-texte-transparent);
    cursor: not-allowed;

}

a.input-formulaire {
    text-decoration: none;
    color: var(--coul-arr-plan);
}

/*Input de type nombre sans flèches*/
.input-nombre {
    background-color: var(--coul-texte);
    border: var(--coul-texte) solid .1em;
    border-radius: .5em;
}

.input-nombre:hover {
    border: var(--coul-titre) solid .1em;
    border-radius: .5em;
}

.input-formulaire-2 {
    background-color: var(--coul-arr-plan);
    border: var(--coul-arr-plan) solid .1em;
    border-radius: .5em;
    padding: .2em 1em;
    color: var(--coul-texte);
}

.input-formulaire-2:hover {
    border: var(--coul-titre) solid .1em;
    background-color: var(--coul-arr-plan);
}

.input[type="button"].input-formulaire-2:hover,
button.input-formulaire-2:hover {
    cursor: pointer;
}

.input-formulaire-2 a {
    color: var(--coul-texte);
}

a.input-formulaire-2 {
    text-decoration: none;
    color: var(--coul-texte);
}

/*Liens de type bouton*/
.lien-bouton {
    text-decoration: none;
    font-size: medium;
    color: var(--coul-texte);
    background-color: transparent;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.lien-bouton:hover {
    color: var(--coul-titre);
    background-color: var(--couleur-c);
}


.bordure-violette {
    border-color: var(--coul-arr-plan);
}

/*Bandeaux de texte bleu pour afficher un titre*/
.bandeau {

    color: var(--coul-arr-plan);
    background-color: var(--coul-texte);
    display: flex;
    width: calc(100% - 2em);
    margin: 1em 0;
    padding: 1em 1em;

    justify-content: center;
    align-items: baseline;
    height: fit-content;
}


.bandeau h1,
.bandeau h2,
.bandeau h3,
.bandeau b,
.bandeau em {
    color: var(--coul-arr-plan);
}

.bandeau img {
    height: 1.5em;
}

.bandeau * {
    vertical-align: middle;
}

/*Image de bandeau*/
.bandeau-image {
    position: relative;
    display: flex;
    width: 100%;
    height: max(40vh, 5rem);
}

.bandeau-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bandeau-image .centre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 900;
    color: var(--coul-arr-plan);
    background-color: var(--couleur-d);
    margin: 0;
}

.centre * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.erreur {
    background-color: var(--couleur-gras);
    color: var(--coul-arr-plan);
    font-weight: 700;
    text-align: center;
    margin: 1em 0;
    padding: .5em 1em .5em 1em;
    border-radius: .5em;

}

.erreur b {
    color: var(--coul-arr-plan);
}

/* Pour les erreurs de formulaire */
.message-erreur {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100%;
    font-weight: bolder;
    font-size: x-small;
}


.fill-col {
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
}

.fill-col>input {
    flex-grow: 1;
}

.fill-col>img {
    margin: 0 .25em;
}

.enveloppe-input {
    display: inline-block;
}

.enveloppe-input .message-erreur {
    contain: inline-size;
    overflow-wrap: break-word;
}

.compteur {
    font-size: x-small;
}

/*Bloc de texte sur fond de couleur*/
.bloc {
    display: flex;
    align-self: center;
    width: 80%;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    background-color: var(--coul-texte);
    color: var(--coul-arr-plan);
    border-radius: 1em;
    align-items: center;
}

.bloc h1,
.bloc h2,
.bloc h3 {
    color: var(--coul-arr-plan);
}

/*Grille de 3 colonnes*/
.grille3 {
    display: grid;
    justify-content: center;
    grid-template-columns: max-content max-content max-content;
    row-gap: 1em;
    column-gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
}

table.tableau1 {
    border-collapse: collapse;
    width: 100%;

}

table.tableau1 th,
table.tableau1 td {
    border-left: 1px dotted var(--coul-texte);
    border-right: 1px dotted var(--coul-texte);
    padding: 8px;
    text-align: left;
    height: fit-content;
}

table.tableau1 th {
    border-bottom: 1px dotted var(--coul-texte);
}

table.tableau1 tr td:first-child,
table.tableau1 tr th:first-child {
    border-left: 0;
}

table.tableau1 tr td:last-child,
table.tableau1 tr th:last-child {
    border-right: 0;
}

.grille3 img {
    height: 1em;
}


.col1 {
    text-align: right;
}

.col2 {
    text-align: center;
    /* width: min-content; */
}

button.btn-img {
    background: none;
    border: none;
}

button.btn-img:hover {
    background-color: var(--couleur-b);
    border-radius: .2em;
}

/*Bloc de texte encadré*/
.contour-bloc {
    width: 60%;
    margin: 2em auto;
    padding: 2em 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--coul-texte) solid;
    border-radius: .5em;
    overflow-x: scroll;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/*Pour zones de texte/contenu classique centré*/
.texte-centre {
    display: grid;
    width: calc(100% - 6em);
    /*w=toute la largeur - la marge et le padding*/
    /* margin: 2em; */
    align-self: center;
    padding: 1em;
    justify-content: center;
}

/*Pour images d'un coté, texte de l'autre*/
.conteneur-image-texte {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: baseline;
    align-items: center;
    justify-content: center;
}

.conteneur-image {
    /* flex-grow: 2.5; */
    width: 125%;
    height: fit-content;
}

.conteneur-image img {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
}

.conteneur-texte {
    width: 75%;
    /* flex-grow: 1; */
    margin: 0 1em;
}

/*Séparer les éléments Avec une ligne horizontale*/
.separateur-section {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    border-bottom: 1px solid var(--coul-texte);
    border-top: 1px solid var(--coul-texte);
}

.separateur-section-haut {
    width: 100%;
    margin: 1em 0;
    border-top: 1px solid var(--coul-texte);
}


/*Mise en forme page d'accueil de presentation----------------------------------------------------------*/

.descrp_acc {
    max-width: 80%;
    margin-top: 2rem;
    justify-content: center;
}

.image_acc {
    background-image: url("img/logo.png");
    width: 600px;
    height: 600px;

    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    z-index: 2;
}


.image_acc .texte_acc {
    position: absolute;
    color: black;
    border: 2px black;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    z-index: 25;
    flex-direction: column;
}

.image_acc .texte_acc h1 {
    background-color: var(--coul-texte-transparent);
    color: var(--coul-arr-plan);
    font-size: 80px;
    /* Taille de police fixe */
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne suivante */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "Arial", "Times New Roman", Times, serif;

}



.image_acc .sous_titre_acc {
    position: absolute;
    color: var(--coul-texte);
    top: 11em;
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    z-index: 25;
    flex-direction: column;
    font-size: 40px;
    font-family: "Arial", "Times New Roman", Times, serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    white-space: nowrap;

}


.image_acc .button_acc {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: var(--couleur-a) solid 1px; */
    border-radius: .5em;
    top: 45%;
    width: 30%;
    height: 8%;
    font-weight: 600;
    background-color: var(--coul-texte);
    color: var(--couleur-a);
    border: var(--coul-texte) solid .1em;
    cursor: pointer;
}

.image_acc a {
    text-decoration: none;
}

.image_acc .button_acc:hover {
    border: var(--coul-titre) solid .1em;
    background-color: var(--coul-texte);
}



@media (max-width: 850px) {
    /* si l'écran devient trop petit  */

    .image_acc {
        background-image: url("img/logo.png");
        width: 600px;
        height: 600px;

        display: flex;
        justify-content: center;
        /* Centre horizontalement */
        align-items: center;
        /* Centre verticalement */
        z-index: 2;
    }


    .image_acc .texte_acc {
        position: absolute;
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: center;
        /* Centre horizontalement */
        align-items: center;
        /* Centre verticalement */
        z-index: 25;
        flex-direction: column;
    }

    .image_acc .texte_acc h1 {
        font-size: 40px;
        /* Taille de police fixe */
        white-space: nowrap;
        /* Empêche le texte de passer à la ligne suivante */
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .image_acc .sous_titre_acc {
        position: absolute;
        color: var(--coul-texte);
        top: 18em;
        display: flex;
        justify-content: center;
        /* Centre horizontalement */
        align-items: center;
        /* Centre verticalement */
        z-index: 25;
        flex-direction: column;
        font-size: 20px;
        white-space: nowrap;

    }


    .image_acc button {
        position: relative;
        top: 40%;
        background-color: var(--coul-texte);
        color: var(--coul-titre);
    }

    .image_acc a {
        text-decoration: none;
    }
}


/*Mise en forme page de presentation------------------------------------------------------------------*/

.presentation {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* On s'assure que le conteneur occupe toute la largeur de l'écran */

}

.presentation .texte_pre {
    font-size: 20px;
    font-family: sans-serif;
    width: 50%;
    padding: 1.5em;
    text-align: center;
    color: var(--coul-texte);
    outline: 5px dashed var(--coul-texte);
    border-radius: 1em;
}

.menu_selecteur {
    position: fixed;
    /* Fixe le menu par rapport au haut de la page */
    top: 12rem;
    /* Définir la distance du haut de la page */
    right: 5%;
    /* Espacement proportionnel à la taille de l'écran à droite */
    min-height: 50%;
    border: 5px solid var(--coul-texte);
    text-align: center;
}

.menu_selecteur td {
    background-color: var(--coul-titre);
    color: var(--coul-arr-plan);
}

/* Lorsque la fenêtre est plus petite (ex. max-width 768px) */
@media (max-width: 850px) {
    .presentation {
        flex-direction: column;
        /* Passe les éléments en colonne pour les petits écrans */
        align-items: center;
        /* Centre les éléments verticalement */
    }

    .texte_pre {
        width: 80%;
        /* Adapte la largeur du texte à un pourcentage plus grand */
        margin-bottom: 20px;
        /* Ajoute de l'espace sous le texte */
    }

    .menu_selecteur {
        position: relative;
        width: 80%;
        top: auto;
        /* Permet de ne plus avoir de décalage fixe */
        bottom: 10px;
        /* Place le menu au bas de l'écran si nécessaire */
        margin-top: 30px;
        right: 0;
    }
}

/*Mise en forme page de recherche*/

.resultats {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.carte-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 20em;
    margin: 1em;
    border: 5px solid var(--coul-texte);
    border-radius: 1em;
}

.carte-info img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.75em;
}

.carte-info .contenu-carte-info {
    padding: 1em;
}

a .lien-span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 666;
}

.lien-span:hover {
    background-color: var(--couleur-b);
    border-radius: 0.75em;
}

#modifiable {
    border: .5em solid var(--coul-texte);
}

[title="modifier"] {
    cursor: pointer;
}

/*Si contenu trop grand, creer une barre de scroll*/
.scrollable {
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

/*Contenu dépliable (voir utiles.js)*/
.js-replier {
    cursor: pointer;
    user-select: none;
}

.js-replier:hover+.repliable {
    border-radius: .5em;
    background-color: var(--couleur-c);
    transition: background-color 0.2s ease;
}

a.lien {
    color: var(--couleur-a);
}

a.lien:hover {
    color: var(--coul-titre);
    text-decoration: underline;
}



.bloc1 {
    display: block;
    padding: 1em;
    margin: 1em;
    background-color: var(--coul-texte);
    color: var(--coul-arr-plan);
    border-radius: 1em;
    align-items: center;
    text-align: center;
}

.bloc1 h2,
.bloc1 h2 {
    color: var(--coul-arr-plan);
}

.dessert {
    padding: 1em;
    width: 60%
}

.submit {
    width: 17em;
}