/*Mise en forme générale applicable à chaque page*/
html {
    width: 100%;
}

body {
    min-height: 100vh;

    margin: 0;
    width: 100%;

    position: relative;
    background-color: #261C57;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color: #43aed4;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: max(10vh, 3rem) 0 0 0;
}

h1,
h2,
h3 {
    color: #aa00f9;
}

th,
b {
    color: #f39639;
}

em {
    color: #fd5bcf;
}

a,
a:link,
a:visited,
a:active {
    color: #F205B3
}

ul {
    list-style-type: disclosure-closed;
}

/*Contenu principal*/

.tres-grand {
    font-size: xx-large;
}

.grand {
    font-size: x-large;
}

/*contenu aligné flex*/
.flex {
    display: flex;
    align-items: center;
}

/*contenu centré*/
.contenu-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.img-1em {
    height: 1em;
}

.img-4em {
    height: 4em !important;
}

.sans-mise-en-forme {
    background-color: transparent;
    border: none;

}

.contour-img:hover {
    -webkit-filter: drop-shadow(1px 1px 1px #aa00f9) drop-shadow(-1px -1px 0 #aa00f9);
    filter: drop-shadow(1px 1px 1px #aa00f9) drop-shadow(-1px -1px 0 #aa00f9);
}

/*Petits boutons/inputs pour actions secondaires*/
.input-formulaire {
    background-color: #43aed4;
    width: fit-content;
    height: fit-content;
    color: #261C57;
    border: #43aed4 solid .1em;
    border-radius: .5em;
    padding: .2em 1em;
}

button.input-formulaire {
    cursor: pointer;
}

.input-formulaire:hover {
    border: #aa00f9 solid .1em;
    background-color: #43aed4;
}

.bordure-violette {
    border-color: #261C57;
}

/*Bandeaux de texte pour afficher un titre*/
.bandeau {
    color: #261C57;
    display: flex;
    width: calc(100% - 2em);
    margin: 1em 0;
    padding: 1em 1em;

    background-color: #43aed4;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: fit-content;
}

.bandeau h1,
.bandeau h2,
.bandeau h3 {
    color: #261C57;
}

.bandeau img {
    height: 1.5em;
}

.bandeau * {
    vertical-align: middle;
}

/*Image de bandeau*/
.bandeau-image {
    position: relative;
    display: flex;
    width: 100%;
    height: max(40vh, 5rem);
}

.bandeau-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bandeau-image .centre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 900;
    color: #261C57;
    background-color: #ffffff80;
    margin: 0;
}

.centre * {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Bloc de texte sur fond de couleur*/
.bloc {
    display: flex;
    align-self: center;
    width: 80%;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    background-color: #43aed4;
    color: #261C57;
    border-radius: 1em;
    align-items: center;
}

.bloc h1,
.bloc h2,
.bloc h3 {
    color: #261C57;
}

/*Grille de 3 colonnes*/
.grille3 {
    display: grid;
    justify-content: center;
    grid-template-columns: max-content max-content max-content;
    row-gap: 1em;
    column-gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
}

table.tableau1 {
    border-collapse: collapse;
    width: 100%;
}

table.tableau1 th,
table.tableau1 td {
    border-left: 1px dotted #43aed4;
    border-right: 1px dotted #43aed4;
    padding: 8px;
    text-align: left;
    height: fit-content;
}

table.tableau1 th {
    border-bottom: 1px dotted #43aed4;
}

table.tableau1 tr td:first-child,
table.tableau1 tr th:first-child {
    border-left: 0;
}

table.tableau1 tr td:last-child,
table.tableau1 tr th:last-child {
    border-right: 0;
}

.grille3 img {
    height: 1em;
}

button.col3 {
    background: none;
    border: none;
}

button.col3:hover {
    background-color: #ffffff40;
    border-radius: .2em;
}

.col1 {
    text-align: right;
}

.col2 {
    text-align: center;
}

/*Bloc de texte encadré*/
.contour-bloc {
    width: 60%;
    margin: 2em auto;
    padding: 2em 4%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border: #43aed4 solid;
    border-radius: .5em;
}

/*Pour zones de texte/contenu classique centré*/
.texte-centre {
    display: grid;
    width: calc(100% - 6em);
    /*w=toute la largeur - la marge et le padding*/
    margin: 2em;
    padding: 1em;
    justify-content: center;
}

/*Pour images d'un coté, texte de l'autre*/
.conteneur-image-texte {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: baseline;
    align-items: center;
    justify-content: center;
}

.conteneur-image {
    /* flex-grow: 2.5; */
    width: 125%;
    height: fit-content;
}

.conteneur-image img {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
}

.conteneur-texte {
    width: 75%;
    /* flex-grow: 1; */
    margin: 0 1em;
}

/*Séparer les éléments Avec une ligne horizontale*/
.separateur-section {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    border-bottom: 1px solid #43aed4;
    border-top: 1px solid #43aed4;
}

.separateur-section-haut {
    width: 100%;
    margin: 1em 0;
    border-top: 1px solid #43aed4;
}


/*Mise en forme page d'accueil de presentation----------------------------------------------------------*/

.image_acc {
    background-image: url("img/logo.png");
    width:600px; 
    height:600px; 

    display:flex ;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 2;
}


.image_acc .texte_acc {
    position: absolute;
    color: black;
    border: 2px black;
    width:300px; 
    height:60px; 
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 25;
    flex-direction: column;
}
.image_acc .texte_acc h1 {
    background-color: rgba(163, 200, 250, 0.5);
    color: #aa00f9;
    font-size: 80px; /* Taille de police fixe */
    white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "Arial", "Times New Roman", Times, serif;

}
.image_acc .sous_titre_acc{
    position: absolute;
    color: #43aed4;
    top: 11em;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 25;
    flex-direction: column;
    font-size: 40px;
    font-family: "Arial", "Times New Roman", Times, serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    white-space: nowrap;

}


.image_acc .button_acc{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #F205B3 solid 1px; */
    border-radius: .5em;
    top: 45%;
    width: 30%;
    height: 8%;
    font-weight: 600;
    background-color: #43aed4;
    color: #F205B3;
    border: #43aed4 solid .1em;
    cursor: pointer;
}
.image_acc a{
    text-decoration: none;    
}

.image_acc .button_acc:hover {
    border: #aa00f9 solid .1em;
    background-color: #43aed4;
}

.descrp_acc{
    max-width: 80%;
    margin-top: 2rem;
    justify-content: center;
 }


@media (max-width: 850px) { /* si l'écran devient trop petit  */

    .image_acc {
        background-image: url("img/logo.png");
        width:600px; 
        height:600px; 
    
        display:flex ;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        z-index: 2;
    }
    
    
    .image_acc .texte_acc {
        position: absolute;
        width:100px; 
        height:20px; 
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        z-index: 25;
        flex-direction: column;
    }
    .image_acc .texte_acc h1 {
        background-color: rgba(163, 200, 250, 0.5);
        color: #aa00f9;
        font-size: 40px; /* Taille de police fixe */
        white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .image_acc .sous_titre_acc{
        position: absolute;
        color: #43aed4;
        top: 18em;
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        z-index: 25;
        flex-direction: column;
        font-size: 20px;
        white-space: nowrap;
    
    }
    
    
    .image_acc button{
        position: relative;
        top: 40%;
        background-color: #43aed4;
        color: #aa00f9;
    }
    .image_acc a{
        text-decoration: none;    
    }
}


/*Mise en forme page de presentation------------------------------------------------------------------*/

.presentation{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* On s'assure que le conteneur occupe toute la largeur de l'écran */

}

.presentation .texte_pre {
    font-size: 20px;
    font-family: sans-serif;
    width: 50%;
    padding: 7px;
    text-align: center;
    color: #43aed4;
    outline: 5px dashed #43aed4;
}

.menu_selecteur {
    position: fixed; /* Fixe le menu par rapport au haut de la page */
    top: 12rem; /* Définir la distance du haut de la page */
    right: 5%; /* Espacement proportionnel à la taille de l'écran à droite */
    min-height: 50%;
    border: 5px solid #43aed4;
    text-align: center;
}

.menu_selecteur td {
    background-color: #aa00f9;
    color: #261C57;
}

/* Lorsque la fenêtre est plus petite (ex. max-width 768px) */
@media (max-width: 850px) {
    .presentation {
        flex-direction: column; /* Passe les éléments en colonne pour les petits écrans */
        align-items: center; /* Centre les éléments verticalement */
    }

    .texte_pre {
        width: 80%; /* Adapte la largeur du texte à un pourcentage plus grand */
        margin-bottom: 20px; /* Ajoute de l'espace sous le texte */
    }

    .menu_selecteur {
        position: relative;
        width: 80%;
        top: auto; /* Permet de ne plus avoir de décalage fixe */
        bottom: 10px; /* Place le menu au bas de l'écran si nécessaire */
        margin-top: 30px;
        right: 0;
    }
}
/*Mise en forme page d'accueil de recherche------------------*/

.page_recherche{
    position: relative;
    top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.barre_de_recherche  input{
    display: block;
    justify-items: center;
    border: 5px solid #43aed4;
    border-radius: 40px;
    padding: 15px;
    margin: 5px;
    margin-top: 5rem;
    margin-bottom: 1rem;

    background-color: #aa00f9;
    color: #261C57;
    width: 90%;
    font-size: 30px;
}


.filtre {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;

}


/* Style pour le select */
.filtre select{
    position: relative;
    padding: 8px;
    margin-bottom: 15px;
    border: 5px solid #43aed4;
    border-radius: 10px;
    width: 20%;
    background-color: #aa00f9;
}

.resultat{
display: flex;
margin-top: 1rem;
flex-wrap: wrap;
}

.carte-info{
    position: relative;
    display:flex;
    flex-direction: column;
    align-content: center;
    width: 20em;
    margin: 1em;
    border : 5px solid #43aed4;
    border-radius: 1em;    
}

.carte-info img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.75em;
}

.carte-info .contenu-carte-info{
    padding: 1em;
}

a .lien-span{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 9999;
}

.lien-span:hover{
    background-color: #ffffff40;
    border-radius: 0.75em;
}

[title="modifier"] {
    cursor: pointer;
}

/*Si contenu trop grand, creer une barre de scroll*/
.scrollable {
    bottom: 0;
    height: 50vh;
    width: fit-content;
    overflow: hidden;
    overflow-y: scroll;
}

a.lien {
    color: #f205b3;
}

.bloc1 {
    display: block;
    padding: 1em;
    margin: 1em;
    background-color: #43aed4;
    color: #261C57;
    border-radius: 1em;
    align-items: center;
    text-align: center;
}

.bloc1 h2,
.bloc1 h2{
    color: #261C57;
}


.dessert{
    padding: 1em;
    width: 60%
}

.submit {
    width: 17em;
}
