main{padding-top: 5em;}

.header { 
    color: white;

    background-color: hsla(265, 100%, 25%, 0.838);
    padding: 0 1em;
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 2025; /*stay on top*/
    margin: 0;
    /* float: inline-start; */
    overflow:-moz-hidden-unscrollable;
    box-sizing: border-box;
    align-items: center;
}

.header .section {
    /* flex-grow: 1;
    flex-direction: row; */
    align-items: center;
    display: flex;
    padding: 0em 1em 0em 0em;

}

.header img {
    height: 4em;
    
}

.header a {
    text-align: center;
    font-weight:600;
    color: white;
    text-decoration: none;
    padding: 0em 1em 0em 1em;
}

.header a:hover {
    background-color: hsl(265, 100%, 20%);
    text-decoration: underline;
    transition: 0.2s;
}

.header a.active {
    text-decoration: underline;
    background-color: hsl(265, 100%, 15%);
}